################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CachingAspectOrientedImplementation/bin
/packages
/CachingAspectOrientedImplementation/obj/Debug
/.vs/CachingAspectOrientedImplementation/v15/Server/sqlite3
